<section *ngIf="!showNewItemPanel">
  <div class="container">
    <div class="row">
      <div class="col-8 text-left">
        <p class="lead text-muted mb-4">There are {{totalItems()}} items in stock</p>
      </div>
      <div class="col-4 text-right">
        <button type="button" class="btn btn-outline-secondary btn-md" (click)="orderItems()" [disabled]="cart.items.length === 0">
          <span class="fa fa-shopping-cart" aria-hidden="true"></span>
          <span class="badge badge-pill badge-success ml-1 text-success">{{cart.items.length}}</span>
        </button>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <button type="button" class="btn btn-info btn-sm" alt="Add New Item" *ngIf="!showNewItemPanel" (click)="showNewItemPanel=true">Add New Item</button>
  <div class="row justify-content-center">
    <div class="col-6 p-0 m-3">
      <app-item-detail (addItem)="addNewItem($event)" (close)="showNewItemPanel=false" *ngIf="showNewItemPanel"></app-item-detail>
    </div>
  </div>
</div>


<div class="container" *ngIf="!showNewItemPanel">
  <div class="row">
      <ng-container *ngFor="let item of myItems">
        <div class="col-sm-3 text-center">
          <app-item [item]="item" (addCart)="addToCart($event)" (delete)="deleteItem($event)" (edit)="editItem($event)"></app-item>
        </div>
      </ng-container>
  </div>
</div>