
<section class="text-center">
  <div class="container">
    <p class="lead text-muted mb-4">There are {{totalItems()}} items in stock</p>
  </div>
</section>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm" *ngFor="let item of myItems" [class.border-secondary]="item.selected">
      <img class="card-img-top" [src]="item.image" alt="Card image cap">
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{item.price | currency:'EUR':true}}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>{{item.description}}</li>
          <li>
            <form class="mt-4">
              <div class="form-row">
                <div class="col-5 text-right">
                  <button type="button" class="btn btn-info btn-sm" (click)="downQuantity(item)" [disabled]="item.quantity === 0">
                    <span class="fa fa-minus" aria-hidden="true"></span>
                  </button>
                </div>
                <div class="col-2">
                  <input name="quantity" class="form-control form-control-sm" type="number" placeholder="0" 
                    [(ngModel)]="item.quantity" (ngModelChange)="myFunction(item)" [disabled]="item.stock === 0">
                </div>
                <div class="col-5 text-left">
                  <button type="button" class="btn btn-info btn-sm" (click)="upQuantity(item)" [disabled]="item.stock === 0">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </form>
          </li>
        </ul>
        <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
        <h1>
          <span class="badge badge-secondary" *ngIf="item.stock > 0">{{item.stock}} in Stock</span>
          <span class="badge badge-secondary" *ngIf="item.stock === 0">Out of Stock</span>
        </h1>
      </div>
      <div class="card-footer">
        <h4 class="my-0 font-weight-normal">{{item.name | uppercase}}</h4>
      </div>
    </div>
  </div>

</div>