<h4 class="mb-3">Shipping Information</h4>
<form class="needs-validation" [formGroup]="shippingForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" formControlName="name" >
      <div class="invalid-feedback" 
          [class.display-block]="shippingForm.controls['name'].errors && !shippingForm.controls['name'].pristine" >
        Valid first name is required.
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" formControlName="surname">
      <div class="invalid-feedback"
          [class.display-block]="shippingForm.controls['surname'].errors && !shippingForm.controls['surname'].pristine" >
        Valid last name is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="email">Email <span class="text-muted"></span></label>
    <input type="email" class="form-control" name="email" placeholder="you@example.com" formControlName="email">
    <div class="invalid-feedback"
        [class.display-block]="shippingForm.controls['email'].errors && !shippingForm.controls['email'].pristine" >
      Please enter a valid email address for shipping updates.
    </div>
  </div>

  <div class="mb-3">
    <label for="address">Address</label>
    <input type="text" class="form-control" name="address" placeholder="1234 Main St" formControlName="address">
    <div class="invalid-feedback"
      [class.display-block]="shippingForm.controls['address'].errors && !shippingForm.controls['address'].pristine" >
      Please enter your shipping address.
    </div>
  </div>

  <div class="mb-3">
    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
    <input type="text" class="form-control" name="address2" formControlName="address2">
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="country">Country</label>
      <select class="custom-select d-block w-100" name="country" formControlName="country">
        <option value="">Choose...</option>
        <option>Spain</option>
        <option>Namek</option>
      </select>
      <div class="invalid-feedback"
          [class.display-block]="shippingForm.controls['country'].errors && !shippingForm.controls['country'].pristine" >
        Please select a valid country.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="state">City</label>
      <select class="custom-select d-block w-100" name="city"  formControlName="city">
        <option value="">Choose...</option>
        <option>Alicante</option>
        <option>Somontín</option>
        <option>Granollers</option>
      </select>
      <div class="invalid-feedback"
          [class.display-block]="shippingForm.controls['city'].errors && !shippingForm.controls['city'].pristine" >
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" name="zip" formControlName="zipcode">
      <div class="invalid-feedback"
          [class.display-block]="shippingForm.controls['zipcode'].errors && !shippingForm.controls['zipcode'].pristine" >
        Zip code required.
      </div>
    </div>
  </div>
  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!shippingForm.valid">Submit</button>
</form>
