<div class="card mb-4 shadow-sm" [class.border-secondary]="item.selected">
  <div class="card-header"><h5 class="my-0 font-weight-normal">{{item.name | uppercase}}</h5></div>
<img class="card-img-top" [src]="item.image" alt="Card image cap">
<div class="card-body">
  <h1 class="card-title pricing-card-title">{{item.price | currency:'EUR':'symbol'}}</h1>
  <ul class="list-unstyled mt-3 mb-4">
    <li>
      <div class="row" *ngIf="item.mode === viewMode" (click)="changeMode(item,editMode)">
        <div class="col-10" (mouseenter)="showEditIcon(item)" (mouseleave)="hideEditIcon(item)">
            {{item.description}}
        </div>
        <div class="col-2">
          <span class="fa fa-pencil" *ngIf="item.icon"></span>
        </div>
      </div>
      
      <ng-container *ngIf="item.mode === editMode">
          <div class="input-group mb-3">
              <input type="text" name="description" class="form-control" [(ngModel)]="item.description" (focusout)="changeMode(item,viewMode)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="changeMode(item,viewMode)">
                  <span class="fa fa-times" aria-hidden="true"></span>
                </button>
              </div>
          </div>
      </ng-container>
    </li>
    <li>
      <div class="d-inline-flex justify-content-center p-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-info" (click)="downQuantity(item)" [disabled]="item.quantity === 0">
              <span class="fa fa-minus" aria-hidden="true"></span>
            </button>
          </div>
          <input name="quantity" class="form-control" type="number" placeholder="0" 
            [(ngModel)]="item.quantity" [disabled]="item.stock === 0">
          <div class="input-group-append">
            <button type="button" class="btn btn-info" (click)="upQuantity(item)" [disabled]="item.stock === 0">
              <span class="fa fa-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <h1>
    <span class="badge text-secondary" *ngIf="item.stock > 0">{{item.stock}} in Stock</span>
    <span class="badge text-secondary" *ngIf="item.stock === 0">Out of Stock</span>
  </h1>

</div>

<div class="card-footer">
  <div class="row">
    <div class="col-sm-8 p-0">
      <button type="button" class="btn btn-mdg btn-block btn-info" (click)="addToCart()" [disabled]="item.quantity === 0">Add to Cart</button>
    </div>
    <div class="col-sm-4 p-0">
        <button type="button" class="btn btn-outline-secondary btn-md" (click)="emitDelete()">
            <span class="fa fa-trash-o" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-outline-secondary btn-md ml-1" (click)="emitEdit()">
            <span class="fa fa-pencil" aria-hidden="true"></span>
        </button>
    </div>
  </div>
</div>
</div>